* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container_contact_us {
    max-width: calc(1170px + 15px * 2);
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper_contact_us {
    width: 100%;
    padding: 0 170px 0;
}

.container_contact_us_title {
    padding: 60px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.container_contact_us_line {
    width: 170px;
    height: 1px;
    background-color: #ec7979;
    margin: 0 auto;
}

.container_contact_us_subtitle {
    padding: 40px 0 83px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}