* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header_container {
	max-width: calc(1170px + 15px * 2);
	padding: 0 15px;
}

.header {
	padding: 0 170px 0 115px;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #000000;
}

.header_content {
	display: flex;
	justify-content: space-between;
	padding: 22px;
}

.header_burger {
	display: none;
}

a {
	text-decoration: none;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #ffffff;
}

.header_content_link {
	display: flex;
	align-items: center;
}

.header_content_link > a {
	margin: 0 50px 0 0;
}

@media (max-width: 1024px) {
	.header {
		padding: 0 20px 0 115px;
	}

	.header_burger {
		display: none;
	}

}

@media (max-width: 768px) {

	.header {
		width: 100%;
		padding: 0;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 999;
		background-color: #000000;
	}

	.header_content > nav {
		display: none;
	}

	.header_burger {
		display: flex;
		align-items: flex-end;
	}
}
