* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper_tabs {
	padding: 99px 0 50px;
}

.container_tabs {
	max-width: calc(1170px + 15px * 2);
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

.container_tabs_title > button {
	display: inline-block;
}

.container_tabs_title {
	font-size: 0;
}

.container_tabs_title_tab_1,
.container_tabs_title_tab_2,
.container_tabs_title_tab_3 {
	width: 184px;
	height: 40px;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	border-bottom: 1px solid #c6cbcd;
}

.container_tabs_title_tab_1 {
	border-bottom-color: transparent;
}

.active {
	border: 1px solid #c6cbcd;
	border-radius: 5px 5px 0px 0px;
	border-bottom: none;
	width: 203px;
}

.container_tabs_line {
	display: inline-block;
	border: none;
	border-bottom: 1px solid #c6cbcd;
	width: calc(100% - (184px * 2) - 203px);
	vertical-align: bottom;
}

.container_tabs_content {
	border: 1px solid #c6cbcd;
	border-top: none;
	text-align: end;
}

.container_tabs_content_article {
	display: inline-block;
	max-width: 570px;
	width: 100%;
	vertical-align: top;
	text-align: start;
	padding: 32px 0 0;
}

.container_tabs_content_title {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	color: #000000;
	font-family: "Open Sans";
}

.container_tabs_content_title_text {
	margin: 58px 0 0 0;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	font-family: "Raleway";
}

.container_tabs_content_button_download {
	width: 270px;
	height: 58px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	background-color: #ec7979;
	border: none;
	margin: 48px 0 0;
}

.container_tabs > img {
	margin: 0 0 0 30px;
}

@media (max-width: 1024px) {
	.container_tabs_content {
		display: flex;
	}
	.container_tabs_content_article {
		padding: 32px 26px 50px 84px;
	}

	.container_tabs_content_title {
		font-size: 24px;
		line-height: 33px;
		margin-top: 20px;
	}

	.container_tabs_content_title_text {
		font-size: 14px;
		line-height: 16px;
	}
}

@media (max-width: 768px) {
	.container_tabs_content > img {
		display: none;
	}
	.container_tabs_content {
		display: block;
    	text-align: center;
	}

	.container_tabs_content_article {
		text-align: center;
		padding: 2px 20px 30px 20px;
	}

	.container_tabs_content_title {
		font-size: 18px;
		line-height: 25px;
	}

	.container_tabs_content_title_text {
		font-size: 13px;
		line-height: 15px;
	}
}